<div id="navbar">
        <img id="logo" src="/assets/images/arca-logo-transparent.png"/>
        <!-- <h1> Arca Bar </h1> -->
        <h1 id="bar-name"> ARCA BAR </h1>
        <div id="stretched-space"></div>
        <div id="horizontal-links">
            <div></div>
            <div></div>
            <div></div>
            <p><a> HOME </a></p>
            <p><a> ABOUT US </a></p>
            <p><a> MENU </a></p>
            <p><a> GALLERY </a></p>
        </div>
    <p-button (click)="toggleSidebar()"><i class="pi pi-bars"></i></p-button>
</div>

<p-sidebar [(visible)]="sidebarVisible" position="right" [showCloseIcon]="false">
    <div id="vertical-links">
        <p><a> HOME </a></p>
        <p><a> ABOUT US </a></p>
        <p><a> MENU </a></p>
        <p><a> GALLERY </a></p>
    </div>
</p-sidebar>